// Borders:


@mixin box-size($width, $height) {
    width: $width;
    height: $height;
    border: 1px solid black;
}


@mixin flex-box() {
    display: flex;
    justify-content: center;
    align-items: center;
}

